{% extends 'pharma/base.html' %}

{% block bodyConetent %}
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <form action="" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i><label class="modaltext" for="form34"> Your name</label>
                        <input type="text" id="form34" name="cu-name" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i><label class="modaltext" for="form29"> Your email</label>
                        <input type="email" id="form29" name="cu-mail" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i><label class="modaltext" for="form32"> Subject</label>
                        <input type="text" id="form32" name="cu-subject" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i><label class="modaltext" for="form8"> Your message</label>
                        <textarea type="text" id="form8" name="cu-message" class="md-textarea form-control"
                                  rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-brown">Send <i class="fas fa-paper-plane ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="col-md-2"></div>
    <div class="panel panel-default col-md-8 jumcust2">
        <div class="panel-heading">
            <h1 class="padtop5">
                {% if add %}
                    Add Customer Details
                {% else %}
                    Update Customer Details
                {% endif %}
            </h1>
        </div>
        <div class="panel-body">
            {% if cust %}
                <form action="/custformupdate/{{ cust.id }}/" method="post">
                    {% csrf_token %}
                    <div class="row padtop15">
                        <div class="col-md-3 padtop5">
                            <label for="firstName" class="form-control-label">Customer Name:</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="fname" class="form-control" id="firstName" placeholder="First Name"
                                   value="{{ cust.fname }}" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="lname" class="form-control" id="lastName" placeholder="Last Name"
                                   value="{{ cust.lname }}" required/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3 padtop5">
                            <label for="address" class="form-control-label">Address:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Address" name="address"
                                   value="{{ cust.address }}"/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3">
                            <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="pno" class="form-control" id="phn_no" placeholder="Contact Number"
                                   value="{{ cust.phn_no }}" required/>
                        </div>
                    </div>
                    <div class="row padtop15">
                        <div class="col-md-3">
                            <label for="email" class="form-control-label padtop5">Email:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email"
                                   value="{{ cust.email }}"/>
                        </div>
                    </div>
                    <div class="row" id="buttoncustom">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-default"><a href="{% url 'index' %}">Cancel</a></button>
                        </div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-primary">
                                {% if add %}
                                    Add Record
                                {% else %}
                                    Update Record
                                {% endif %}</button>
                        </div>
                        <div class="col-md-offset-8 padtop15">
                            <button type="submit" class="delbut btn btn-danger"><a
                                    href="/custformdelete/{{ cust.id }}/">Delete Record</a></button>
                        </div>
                    </div>
                </form>
            {% else %}
                <form action="/custforminsert/" method="post">
                    {% csrf_token %}
                    <div class="row padtop15">
                        <div class="col-md-3 padtop5">
                            <label for="firstName" class="form-control-label">Customer Name:</label>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="text" name="fname" class="form-control" id="firstName" placeholder="First Name"
                                   value="" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="lname" class="form-control" id="lastName" placeholder="Last Name"
                                   required/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3 padtop5">
                            <label for="address" class="form-control-label">Address:</label>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="address" placeholder="Address" name="address"/>
                        </div>
                    </div>
                    <div class="row padtop5">
                        <div class="col-md-3">
                            <label for="phn_no" class="form-control-label padtop5">Phone Number:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="pno" class="form-control" id="phn_no" placeholder="Contact Number"
                                   required/>
                        </div>
                    </div>
                    <div class="row padtop15">
                        <div class="col-md-3">
                            <label for="email" class="form-control-label padtop5">Email:</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" name="email" class="form-control" id="email" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="row" id="buttoncustom">
                        <div class="col-md-3"></div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-default"><a href="{% url 'index' %}">Cancel</a></button>
                        </div>
                        <div class="col-md-2 padtop15">
                            <button type="submit" class="btn btn-primary">
                                {% if add %}
                                    Add Record
                                {% else %}
                                    Update Record
                                {% endif %}</button>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>

    </div>

</div>

{% endblock bodyConetent %}
 

