{% extends 'pharma/base.html' %}
{% block bodyConetent %}
<div class="modal fade" id="modalContactForm" tabindex="-1">
    <form action="" method="post">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i><label class="modaltext" for="form34"> Your
                            name</label>
                        <input type="text" id="form34" name="cu-name" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i><label class="modaltext" for="form29"> Your
                            email</label>
                        <input type="email" id="form29" name="cu-mail" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fa fa-tag prefix grey-text"></i><label class="modaltext" for="form32"> Subject</label>
                        <input type="text" id="form32" name="cu-subject" class="form-control validate">
                    </div>
                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix grey-text"></i><label class="modaltext" for="form8"> Your
                            message</label>
                        <textarea type="text" id="form8" name="cu-message" class="md-textarea form-control"
                            rows="4"></textarea>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-brown">Send <i class="fas fa-paper-plane ml-1"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid martop7">
    <div class="jumbotron jumcust">
        <h2>Medicine Details</h2>
        <div class="row">
            <div class="col-md-1">
            </div>
            <table border="1" class="table table-responsive table-hover col-md-10">
                <tr>
                    <th>Medicine Code</th>
                    <th>Medicine Name</th>
                    <th>Dealer Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                {% for foo in med %}
                <tr>
                    <td class="idlink">{{ foo.m_id }}</td>
                    <td>{{ foo.mname }}</td>
                    <td>{{ foo.dname }}</td>
                    <td>{{ foo.price }}</td>
                    <td>{{ foo.stock }}</td>
                    <td>{{ foo.desc }}</td>
                    <td style="background-color: cornflowerblue;"><a style=" color: white" href="/medformview/{{ foo.id }}">Edit/Delete</a></td> 
                </tr>
                {% endfor %}
            </table> <br>
            <a href="#"><button class="btn btn-primary" onclick="MedicineexportSheet()">Download Dealer
                    Sheet</button></a>
        </div>
        <footer>
            <h3>Click on a Medicine ID to Update or Delete the record.</h3>
        </footer>
    </div>
</div>
<script type="text/javascript">
    function MedicineexportSheet() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {

            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');

            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {

                // Get the text data of each cell
                // of a row and push it to csvrow
                csvrow.push(cols[j].innerHTML);
            }

            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }

        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file  
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "report.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

</script>
{% endblock bodyConetent %}